body,
html {
  font-family: "Roboto", sans-serif;
  background: #f47f65;
  height: 100%;
}
.logo {
  background-image: url("../img/good-neighbor.png");
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: contain;
}

.email {
  background-color: white;
}

.password {
  background-color: white;
}

.login-button {
  background-color: white;
}
